[Desktop Entry]
Type=Application
Name=Eclipse ADT
Comment=Eclipse IDE + ADT
Icon=/home/gizmo/.local/share/applications/solar-eclipse-icon.xpm
Exec=env UBUNTU_MENUPROXY=0 /home/gizmo/bin/eclipse/4.1.2/adt/eclipse
Terminal=falseE
Categories=Development;IDE;Java;
